@model SerwisAudiometryczny.Models.AudiogramModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AudiogramModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictDiagnosisModelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictDiagnosisModelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictSexModelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictSexModelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictNuisanceModelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictNuisanceModelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictInstrumentModelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictInstrumentModelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMusican)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMusican)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentageHearingLoss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentageHearingLoss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
