@model SerwisAudiometryczny.Models.ApplicationUser

<tr class="row">
    <form class="" action="~/UserManagement/EditRole" method="post">
        <td class="um-td">
            <input type="text" class="asd um-name" name="Name" value="@Model.UserName" readonly/>
        </td>
        <td class="um-td">
            @Html.Partial("~/Views/Shared/Checkbox.cshtml", new SerwisAudiometryczny.Models.CheckboxModel(Model.Administrator, "Admin"))
        </td>
        <td class="um-td">
            @Html.Partial("~/Views/Shared/Checkbox.cshtml", new SerwisAudiometryczny.Models.CheckboxModel(Model.Patient, "Patient"))
        </td>
        <td class="um-td">
            @Html.Partial("~/Views/Shared/Checkbox.cshtml", new SerwisAudiometryczny.Models.CheckboxModel(Model.Researcher, "Researcher"))
        </td>
        <td class="um-td">
            @Html.Partial("~/Views/Shared/Checkbox.cshtml", new SerwisAudiometryczny.Models.CheckboxModel(Model.User, "User"))
        </td>
        <td class="um-td">
            <button name="Submit" type="submit" value="Save" class="btn btn-success">Save</button>
        </td>
        <td class="um-td">
            <button name="Submit" type="submit" value="Edit" class="btn btn-primary">Edit</button>
        </td>
        <td class="um-td">
            <button name="Submit" type="submit" value="Deactivate" class="btn btn-danger">Deactivate</button>
        </td>
    </form>
</tr>



