@model SerwisAudiometryczny.Models.ApplicationUser
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Szczegóły konta";
}

<h2>Szczegóły konta</h2>
<hr />

    @*<h4>ApplicationUser</h4>*@
	  
<div class="container-fluid text-large">
      <div class="Details-box-1">
            @Html.DisplayNameFor(model => model.Name)
            <span style="color: orange;"> 
				@Html.DisplayFor(model => model.Name)
			</span> <br/>

            @Html.DisplayNameFor(model => model.Address)
            <span style="color: orange;"> 
				@Html.DisplayFor(model => model.Address)
			</span> <br/>
            
			@Html.DisplayNameFor(model => model.Email)
            <span style="color: orange;"> 
				@Html.DisplayFor(model => model.DecryptedEmail)
			</span> <br/>

            @Html.DisplayNameFor(model => model.PhoneNumber)
            <span style="color: orange;"> 
				@Html.DisplayFor(model => model.PhoneNumber) 
			</span> <br/>
            
			@Html.DisplayNameFor(model => model.UserName)
            <span style="color: orange;"> 
				@Html.DisplayFor(model => model.DecryptedUserName)
			</span>

			<br/> <br/>

			@Html.Label("rolesLabel","Posiadane uprawnienia:") <br/>
			@foreach(var item in @Model.UserManager.GetRoles(Model.Id))
			{
				@Html.Label(item.ToString(), item.ToString(), new {@style = "color: orange"}) <br/>	
			}
	  </div>
</div> 

<br/>

<p>
    @Html.ActionLink("Edycja danych", "Edit", new { id = Model.Id })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
