@model SerwisAudiometryczny.Models.ApplicationUser

@{
    ViewBag.Title = "Szczegóły konta";
}

<h2>Szczegóły konta</h2>


    @*<h4>ApplicationUser</h4>*@

      </div class="Details-box-1">

            @Html.DisplayNameFor(model => model.Name)
       
	    </div>

		  </div class="Details-box-2">
      
            @Html.DisplayFor(model => model.Name)
            </div>

			<div style="clear:both">

          </div class="Details-box-1">
            @Html.DisplayNameFor(model => model.Address)
       
	    </div>

         </div class="Details-box-2">
            @Html.DisplayFor(model => model.Address)
        </div>

		<div style="clear:both">

       </div class="Details-box-1">
            @Html.DisplayNameFor(model => model.Email)
        </div>

       </div class="Details-box-2">
            @Html.DisplayFor(model => model.DecryptedEmail)
         </div>

		 <div style="clear:both">

       </div class="Details-box-1">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </div>

        </div class="Details-box-2">
            @Html.DisplayFor(model => model.PhoneNumber)
         </div>

		 <div style="clear:both">

        </div class="Details-box-1">
            @Html.DisplayNameFor(model => model.UserName)
         </div>

          </div class="Details-box-2">
            @Html.DisplayFor(model => model.DecryptedUserName)
         </div>

		  <div style="clear:both">

          </div class="Details-box-1">	
			<div class="checkbox">
				<label>				 
					@if (User.IsInRole("Administrator"))
					{ 
						<input id="Administrator" type="checkbox" disabled name="Administrator" checked> 
					}
					else 
					{ 
						<input id="Administrator" type="checkbox" disabled name="Administrator">
					}	
					Administrator	
				</label>
			</div>
		  </div>

		 <div style="clear:both">
          
		  </div class="Details-box-1">	
			<div class="checkbox">
				<label>				 
					@if (User.IsInRole("Researcher"))
					{ 
						<input id="Researcher" type="checkbox" disabled name="Researcher" checked> 
					}
					else 
					{ 
						<input id="Researcher" type="checkbox" disabled name="Resercher">
					}	
					Badacz
				</label>
			</div>
		  </div>

		 <div style="clear:both">

        </div class="Details-box-1">	
			<div class="checkbox">
				<label>				 
					@if (User.IsInRole("Patient"))
					{ 
						<input id="Patient" type="checkbox" disabled name="Patient" checked> 
					}
					else 
					{ 
						<input id="Patient" type="checkbox" disabled name="Patient">
					}	
					Pacjent
				</label>
			</div>
		</div>

		<div style="clear:both">

		</div class="Details-box-1">	
			<div class="checkbox">
				<label>				 
					@if (User.IsInRole("User"))
					{ 
						<input id="User" type="checkbox" disabled name="User" checked> 
					}
					else 
					{ 
						<input id="User" type="checkbox" disabled name="User">
					}	
					Edytor
				</label>
			</div>
		</div>

   <div style="clear:both">

   </br>
   </br>

<p>
    @Html.ActionLink("Edycja danych", "Edit", new { id = Model.Id })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
