@model SerwisAudiometryczny.Models.ApplicationUser
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Szczegóły konta";
}

<h2>Szczegóły konta</h2>
<hr />

    @*<h4>ApplicationUser</h4>*@
	  
<div class="container-fluid text-large">
      <div class="Details-box-1">
            @Html.DisplayNameFor(model => model.Decrypted.Name)
            <span style="color: orange;"> 
				@Html.DisplayFor(model => model.Decrypted.Name)
			</span> <br/>

            @Html.DisplayNameFor(model => model.Decrypted.Address)
            <span style="color: orange;"> 
				@Html.DisplayFor(model => model.Decrypted.Address)
			</span> <br/>
            
			@Html.DisplayNameFor(model => model.Decrypted.Email)
            <span style="color: orange;"> 
				@Html.DisplayFor(model => model.Decrypted.Email)
			</span> <br/>

            @Html.DisplayNameFor(model => model.Decrypted.PhoneNumber)
            <span style="color: orange;"> 
				@Html.DisplayFor(model => model.Decrypted.PhoneNumber) 
			</span> <br/>

			<br/> <br/>

			@Html.Label("rolesLabel","Posiadane uprawnienia:") <br/>
			@foreach(var item in @Model.UserManager.GetRoles(Model.Id))
			{
				var txtRole = "Administrator";
				switch(item.ToString())
				{
				case "Patient":
					txtRole = "Pacjent";
					break;
				case "Researcher":
					txtRole = "Badacz";
					break;
				case "User":
					txtRole = "Edytor/Lekarz";
					break;
				default:
					break;
				}
				<li> @Html.Label(item.ToString(), txtRole, new {style = "color: orange"}) </li> 
			}
	  </div>
</div> 

<br/>

<p>
    @Html.ActionLink("Edycja danych", "Edit", new { id = Model.Id })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
