@model SerwisAudiometryczny.Models.ApplicationUser

@{
    ViewBag.Title = "Szczegóły konta";
}

<h2>Szczegóły konta</h2>


    @*<h4>ApplicationUser</h4>*@
 

          </div class="Details-box-1">
        
            @Html.DisplayNameFor(model => model.Administrator)
     
		   </div>
		  
		     </div class="Details-box-2">
      
            @Html.DisplayFor(model => model.Administrator)
      
		 </div>

		 <div style="clear:both">
          
		  </div class="Details-box-1">
            
			@Html.DisplayNameFor(model => model.User)
        
		 </div>

         </div class="Details-box-2">

            @Html.DisplayFor(model => model.User)
      
	  	 </div>

		 <div style="clear:both">

        </div class="Details-box-1">
            

            @Html.DisplayNameFor(model => model.Researcher)
       
	     
		 </div>

		    </div class="Details-box-2">
      
            @Html.DisplayFor(model => model.Researcher)
       
	    </div>

		<div style="clear:both">

		 </div class="Details-box-1">
        
            @Html.DisplayNameFor(model => model.Patient)
       
	      </div>

		   </div class="Details-box-2">
      
      
            @Html.DisplayFor(model => model.Patient)
       
	         </div>

			 <div style="clear:both">

      </div class="Details-box-1">

            @Html.DisplayNameFor(model => model.Name)
       
	    </div>

		  </div class="Details-box-2">
      
            @Html.DisplayFor(model => model.Name)
            </div>

			<div style="clear:both">

          </div class="Details-box-1">
            @Html.DisplayNameFor(model => model.Address)
       
	    </div>

         </div class="Details-box-2">
            @Html.DisplayFor(model => model.Address)
        </div>

		<div style="clear:both">

       </div class="Details-box-1">
            @Html.DisplayNameFor(model => model.Email)
        </div>

       </div class="Details-box-2">
            @Html.DisplayFor(model => model.Email)
         </div>

		 <div style="clear:both">

       </div class="Details-box-1">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </div>

        </div class="Details-box-2">
            @Html.DisplayFor(model => model.PhoneNumber)
         </div>

		 <div style="clear:both">

        </div class="Details-box-1">
            @Html.DisplayNameFor(model => model.UserName)
         </div>

          </div class="Details-box-2">
            @Html.DisplayFor(model => model.UserName)
         </div>

   <div style="clear:both">

   </br>
   </br>

<p>
    @Html.ActionLink("Edycja danych", "Edit", new { id = Model.Id })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
