@using SerwisAudiometryczny.Models
@model LoginViewModel

@{
    ViewBag.Title = "Logowanie";
}
<style>
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        display: none;
    }
    body{
        background-image: url('/Content/view2.jpg');
        background-position: center top;
        background-size: cover;
    }
</style>
<div class="pojemniczek3">

</div>
   <!-- <div class="centerPower2">   -->
        <section id="loginForm ">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal login-form-rot", role = "form" }))
            {
               
           
         <!--  Dzieki temu zalogoujemy sie    -->
		  
		  <div class="LogBox">
		   
		   @Html.AntiForgeryToken()
	  
		      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		    
                <div class="form-group">
                    @Html.LabelFor(m => m.Email,"Email", new { @class = "col-md-2 zmiana2 text-large" })
                    <div class="col-md-10 ">
                        @Html.TextBoxFor(m => m.Email, new { @class = "style-inpute2  zmiana input-log" })
                        <div class="errorField text-danger"> 
							@Html.ValidationMessageFor(m => m.Email, "", new {})
						</div>
						
                    </div>

                    @Html.LabelFor(m => m.Password,"Hasło", new { @class = "col-md-2 zmiana3 text-large" })
                    <div class="col-md-10 ">
                        @Html.PasswordFor(m => m.Password, new { @class = "style-inpute2  zmiana input-log" })
                        <div class="errorField text-danger"> 
							@Html.ValidationMessageFor(m => m.Password, "", new { }) 
						</div>
                    </div>
                </div>		
				
				<div class="col-md-10 errorField text-danger">
					@Html.ValidationMessage("Error")
				</div>

			    <!-- tutaj jest guzik log-in   -->

                <div class="guzik">             
                    <input type="submit" value="Zaloguj się" class="btn btn-default " />               
			  	</div>

			<!--  Tutaj konczy sie log-box      --> 

		  </div>      

            }
        </section>
 <!--   </div> -->
    
 <!-- To jest super stopka     -->

@section Scripts {
  @Html.AntiForgeryToken()
}