@model SerwisAudiometryczny.Models.AudiogramCreateEditViewModel

@{
    ViewBag.Title = "Stwórz audiogram";
}

<h2>Nowy audiogram</h2>
<style>
    .form-adv{
        display: inline;
        width: 70px;
    }
    .form-none{
        display: none;
    }
    .musician-depended{
        display: none;
    }
    body > div:nth-child(2) > form > div > div:nth-child(2) > div > div.editor-label > label,
    body > form > div > div:nth-child(2) > div > div.editor-label > label,
    div.form-group:nth-child(3) > div:nth-child(2) > div:nth-child(1),
    div.form-group:nth-child(4) > div:nth-child(2) > div:nth-child(1){
        display: none;
    }
</style>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Audiogram.LeftEar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Audiogram.LeftEar, new { htmlAttributes = new { @class = "form-control form-none form-final-left" } })
                @for (var i = 0; i < Model.Frequencies.Length ; i++)
                {<input class="form-control form-adv form-left" max="120" min="-10" type="number"/> }
                @Html.ValidationMessageFor(model => model.Audiogram.LeftEar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Audiogram.RightEar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Audiogram.RightEar, new { htmlAttributes = new { @class = "form-control form-none form-final-right" } })
                @for (var i = 0; i < Model.Frequencies.Length; i++)
                {<input class="form-control form-adv form-right" max="120" min="-10" type="number"/> }
                @Html.ValidationMessageFor(model => model.Audiogram.RightEar, "", new { @class = "text-danger" })
            </div>
        </div>
        <script>
            var freq_arr_ph = [];
            @foreach (var item in Model.Frequencies)
            {
                <text>freq_arr_ph.push(@item)</text>
            }
            freq_arr_ph.sort(function (a, b) { return a - b })
            for (var i = 0; i < freq_arr_ph.length ; i++) {
                if (freq_arr_ph[i] >= 1000) {
                    freq_arr_ph[i] = freq_arr_ph[i] / 1000 + "k";
                }
            }
            for (var i = 0; i < document.getElementsByClassName('form-left').length; i++) {
                document.getElementsByClassName('form-left')[i].placeholder = freq_arr_ph[i];
                document.getElementsByClassName('form-right')[i].placeholder = freq_arr_ph[i];
            }
        </script>
        <div class="form-group">
            @Html.LabelFor(model => model.Audiogram.Diagnosis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Audiogram.Diagnosis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Audiogram.Diagnosis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Audiogram.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Audiogram.Gender, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Audiogram.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Audiogram.Nuisance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Audiogram.Nuisance, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Audiogram.Nuisance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Audiogram.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Audiogram.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Audiogram.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Audiogram.PercentageHearingLoss, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Audiogram.PercentageHearingLoss, new { htmlAttributes = new { @class = "form-control form-none" } })
                <input class="form-control text-box single-line" id="Audiogram_PercentageHearingLoss2" type="text" disabled>
                @Html.ValidationMessageFor(model => model.Audiogram.PercentageHearingLoss, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Audiogram.IsMusician, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBox("Audiogram.IsMusician")
                </div>
            </div>
        </div>

        <div class="form-group musician-depended">
            @Html.LabelFor(model => model.Audiogram.Instrument, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="exist_instr">
                                <input class="text-box single-line form-none" id="Audiogram_Instrument_ID" name="Audiogram.Instrument.ID" type="number" />
                                <input placeholder="nazwa instrumentu" class="form-control text-box single-line" id="Audiogram_Instrument_Name" name="Audiogram.Instrument.Name" type="text" />
                                <br/>
                                <select class="form-control" id="Audiogram_Instrument_ID_NAME" name="Audiogram.Instrument.ID" onchange="wymiennik()">
                                    <option id="pick_instrument" disabled selected>Wybierz instrument</option>
                                    @foreach (var item in Model.Instruments)
                                    {
                                        <option value="@item.Name" data-id="@item.ID">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <span class="field-validation-valid text-danger" data-valmsg-for="Audiogram.Instrument" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Audiogram.PatientID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Audiogram.PatientID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Audiogram.PatientID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-none">
            @Html.LabelFor(model => model.Audiogram.EditorID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Audiogram.EditorID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Audiogram.EditorID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input return="val();" type="submit" value="Utwórz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function hasClass(el, name) {
            return new RegExp('(\\s|^)' + name + '(\\s|$)').test(el.className);
        }

        function addClass(el, name) {
            if (!hasClass(el, name)) { el.className += (el.className ? ' ' : '') + name; }
        }

        function remClass(el, name) {
            if (hasClass(el, name)) {
                el.className = el.className.replace(new RegExp('(\\s|^)' + name + '(\\s|$)'), ' ').replace(/^\s+|\s+$/g, '');
            }
        }
        $('form').on('submit', function () {
            var errors = 0;
            var error_list = "Żadne pole nie może pozostać puste!\n\n";
            var elems = $(".form-adv");
            for (var i = 0; i < elems.length; i++) {
                if (elems[i].value == "" || elems[i].value == "NaN") {
                    addClass(elems[i], 'element');
                    errors++;
                } else {
                    remClass(elems[i], 'element');
                }
            }
            if (errors > 0) {
                error_list += "Proszę wypełnić puste pola.\n";
            }
            elems = $('#Audiogram_Diagnosis');
            if (elems[0].value == "" || elems[0].value == null) {
                addClass(elems[0], 'element');
                error_list += "Proszę podać diagnozę.\n";
                errors++;
            } else {
                var len = elems[0].value.length;
                if (len > 150) {
                    errors++;
                    error_list += "Dopuszczalna długość diagnozy to 150 znaków.\n";
                } else {
                    remClass(elems[0], 'element');
                }
            }
            elems = $('#Audiogram_Age');
            if (!(parseInt($('#Audiogram_Age').val()) > 0 && parseInt($('#Audiogram_Age').val()) <= 150)) {
                addClass(elems[0], 'element');
                error_list += 'Proszę podać realny wiek.\n';
                errors++;
            }
            if (document.getElementById('Audiogram_IsMusician').checked) {
                if (document.getElementById('Audiogram_Instrument_Name').value == "") {
                    errors++;
                    if (!$("#Audiogram_Instrument_Name").hasClass('element')) {
                        $("#Audiogram_Instrument_Name").addClass('element');
                        addClass($('#Audiogram_Instrument_ID_NAME')[0],'element');
                    }
                    error_list += "Proszę wpisać lub wybrać instrument.\n";
                    errors++;
                }
                else {
                    if ($("#Audiogram_Instrument_Name").hasClass('element')) {
                        $("#Audiogram_Instrument_Name").removeClass('element');
                        remClass($('#Audiogram_Instrument_ID_NAME')[0], 'element');
                    }
                }
            }
            elems = $("#Audiogram_PatientID");
            if (elems.val() == '' || elems.val() == null) {
                addClass(elems[0], 'element');
                errors++;
                error_list += "Proszę wpisać ID pacjenta.\n";
            }
            if (errors > 0) {
                alert(error_list);
                return false;
            }
        })
    </script> 
    <script>
        document.getElementById('Audiogram_Instrument_ID').disabled = 'disabled';
        document.getElementById('Audiogram_Instrument_Name').disabled = 'disabled';
        var isMusician = function() {
            if (document.getElementById('Audiogram_IsMusician').checked) {
                $('.musician-depended').show();
                document.getElementById('Audiogram_Instrument_ID').disabled = '';
                document.getElementById('Audiogram_Instrument_ID').value = 0;
                document.getElementById('Audiogram_Instrument_Name').disabled = '';
            } else {
                $('.musician-depended').hide();
                document.getElementById('Audiogram_Instrument_ID').disabled = 'disabled';
                document.getElementById('Audiogram_Instrument_Name').disabled = 'disabled';
            }
        }
        $('#Audiogram_IsMusician').on('change', isMusician);
        $('#Audiogram_Instrument_Name').keyup(function () {
            var czy_jest = false;
            for (var i = 0; i < document.getElementById('Audiogram_Instrument_ID_NAME').length; i++) {
                if (document.getElementById('Audiogram_Instrument_ID_NAME')[i].value.indexOf(document.getElementById('Audiogram_Instrument_Name').value) != -1) {
                    czy_jest = true;
                }
            }
            if (czy_jest == false) {
                var temp = document.getElementById('Audiogram_Instrument_Name').value;
                document.getElementById('Audiogram_Instrument_ID_NAME').value = "Wybierz instrument";
                document.getElementById('Audiogram_Instrument_Name').value = temp;
            }
        })

        $('#Audiogram_IsMusician').data('val', 'false');
        var LeftFinal = document.getElementsByClassName('form-final-left')[0];
        var RightFinal = document.getElementsByClassName('form-final-right')[0];
        function functionLeft() {
            var allElements = document.getElementsByClassName('form-left');
            var string = "";
            for (var i = 0; i < allElements.length; i++) {
                if (i == 0) { string = allElements[i].value + ";"; }
                else {
                    if (i == allElements.length - 1) { string = string + allElements[i].value; }
                    else {
                        string = string + allElements[i].value + ";";
                    }
                }
            }
            LeftFinal.value = string;
        }
        function functionRight() {
            var allElements = document.getElementsByClassName('form-right');
            var string = "";
            for (var i = 0; i < allElements.length; i++) {
                if (i == 0) { string = allElements[i].value + ";"; }
                else {
                    if (i == allElements.length - 1) { string = string + allElements[i].value; }
                    else { string = string + allElements[i].value + ";"; }
                }
            }
            RightFinal.value = string;
        }
        var left = document.getElementsByClassName('form-left');
        for (var i = 0; i < left.length; i++) {
            left[i].addEventListener('change', functionLeft, false);
            left[i].addEventListener('change', updatePercentageHearingLoss, false);
        }
        var right = document.getElementsByClassName('form-right');
        for (var i = 0; i < right.length; i++) {
            right[i].addEventListener('change', functionRight, false);
            right[i].addEventListener('change', updatePercentageHearingLoss, false);
        }
        function isNumber (o) {
            return ! isNaN (o-0) && o !== null && o !== "" && o !== false;
        }
        function updatePercentageHearingLoss() {
            console.clear();
            var tabOfFreq = [];
            @foreach (var item in Model.Frequencies)
            {
                <text>tabOfFreq.push(@item)</text>
            }
            console.log(tabOfFreq);
            var indexes = []
              , leftear = []
              , rightear = []
              ;
            for (var i = 0; i < tabOfFreq.length; i++) {
                if ((tabOfFreq[i] >= 500) && (tabOfFreq[i] <= 3000)) {
                    console.log("i: " + i + ", freq: " + tabOfFreq[i]);
                    indexes.push(i);
                }
            }
            var leftElems = $(".form-left");
            var rigthElems = $(".form-right");

            for (var i = 0; i < indexes.length; i++) {
                leftear.push(leftElems[indexes[i]].value);
                rightear.push(rigthElems[indexes[i]].value);
            }
            console.log(leftear);
            console.log(rightear);

            var sumleft = 0
              , sumright = 0;

            for (var i = 0; i < leftear.length; i++) {
                sumleft += parseInt(leftear[i]);
                console.log(parseInt(leftear[i]));
                sumright += parseInt(rightear[i]);
            }
            
            console.log("sumleft: " + sumleft + ", sumright: " + sumright);
            var perc = (Math.min(sumleft, sumright) * 5 + Math.max(sumleft, sumright)) / 6;
            perc = (perc > 100) ? 100 : (perc < 0) ? 0 : perc;
            
            document.getElementById("Audiogram_PercentageHearingLoss").value = parseInt(perc);
            document.getElementById("Audiogram_PercentageHearingLoss2").value = parseInt(perc);
        }
        var wymiennik = function (e) {
            document.getElementById('Audiogram_Instrument_Name').value = document.getElementById('Audiogram_Instrument_ID_NAME').value;
        }
        window.onload = function () {
            isMusician();
            var l = LeftFinal.value.split(';');
            var allElements = document.getElementsByClassName('form-left');
            for (var i = 0; i < l.length; i++) {
                allElements[i].value = l[i];
            }
            var r = RightFinal.value.split(';');
            var allElements = document.getElementsByClassName('form-right');
            for (var i = 0; i < r.length; i++) {
                allElements[i].value = r[i];
            }
            //document.getElementById('Audiogram_IsMusician').removeAttribute('data-val');
        }();
    </script>


    <script>
        var wypleniacz = function () {
            for (var i = 0; i < document.getElementsByClassName('form-left').length; i++) {
                document.getElementsByClassName('form-left')[i].value = 5;
                document.getElementsByClassName('form-right')[i].value = 5;
                document.getElementById('Audiogram_Diagnosis').value = "troche głuchy";
                document.getElementById('Audiogram_Age').value = 5;
                document.getElementById('Audiogram_PatientID').value = 1;
                document.getElementById('Audiogram_PercentageHearingLoss').value = 5;
                functionRight(); functionLeft();
            }
        }
    </script>
}
