@model SerwisAudiometryczny.Models.AudiogramModel

@{
    ViewBag.Title = "Usuń audiogram";
}

<h3>Czy na pewno chcesz usunąć?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LeftEar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeftEar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RightEar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightEar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nuisance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nuisance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentageHearingLoss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentageHearingLoss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMusician)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMusician)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditorID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
