@model IEnumerable<SerwisAudiometryczny.Models.AudiogramModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Search", "Search")
</p>
<a onclick="showfilters();" style="cursor: pointer; margin-bottom:5px;" class="btn btn-info" href="#">List of filters</a>
<div id="all-filters" style="display:none;">
    <label class="checkbox"><input type="checkbox" onchange="filter(this);" id="left-ear-filter" checked/> LeftEar</label>
    <label class="checkbox"><input type="checkbox" onchange="filter(this);" id="right-ear-filter" checked/> RightEar</label>
    <label class="checkbox"><input type="checkbox" onchange="filter(this);" id="diagnosis-filter" checked/> Diagnosis</label>
    <label class="checkbox"><input type="checkbox" onchange="filter(this);" id="gender-filter" checked/> Gender</label>
    <label class="checkbox"><input type="checkbox" onchange="filter(this);" id="nuisance-filter" checked/> Nuisance</label>
    <label class="checkbox"><input type="checkbox" onchange="filter(this);" id="age-filter" checked/> Age</label>
    <label class="checkbox"><input type="checkbox" onchange="filter(this);" id="percentage-hearing-loss-filter" checked/> PercentageHearingLoss</label>
    <label class="checkbox"><input type="checkbox" onchange="filter(this);" id="is-musician-filter" checked/> IsMusician</label>
    <label class="checkbox"><input type="checkbox" onchange="filter(this);" id="instrument-filter" checked/> Instrument</label>
    <label class="checkbox"><input type="checkbox" onchange="filter(this);" id="patient-id-filter"/> PatientID</label>
    <label class="checkbox"><input type="checkbox" onchange="filter(this);" id="editor-id-filter"/> EditorID</label>
</div>
<script>
    var showfilters = function(){
        var elem = document.getElementById('all-filters');
        if (elem.style.display == 'none') {
            elem.style.display = 'block';
        }
        else {
            elem.style.display = 'none';
        }
    }
    var filter = function (elem) {
        var filtered_elems = document.getElementsByClassName(elem.id);
        if (filtered_elems[0].style.display == 'none') {
            for (var i = 0; i < filtered_elems.length; i++) {
                filtered_elems[i].style.display = 'table-cell';
            }
        }
        else {
            for (var i = 0; i < filtered_elems.length; i++) {
                filtered_elems[i].style.display = 'none';
            }
        }
    }
</script>  
<div class="container-fluid"><div class="row">
<table class="table row">
    <tr>
        <th class="left-ear-filter reg"><div></div>
            @Html.DisplayNameFor(model => model.LeftEar)
        </th>
        <th class="right-ear-filter reg"><div></div>
            @Html.DisplayNameFor(model => model.RightEar)
        </th>
        <th class="diagnosis-filter reg">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </th>
        <th class="gender-filter reg">
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th class="nuisance-filter reg">
            @Html.DisplayNameFor(model => model.Nuisance)
        </th>
        <th class="age-filter reg">
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th class="percentage-hearing-loss-filter reg">
            @Html.DisplayNameFor(model => model.PercentageHearingLoss)
        </th>
        <th class="is-musician-filter reg">
            @Html.DisplayNameFor(model => model.IsMusician)
        </th>
        <th class="instrument-filter reg">
            @Html.DisplayNameFor(model => model.Instrument)
        </th>
        <th class="patient-id-filter reg" style="display:none;">
            @Html.DisplayNameFor(model => model.PatientID)
        </th>
        <th class="editor-id-filter reg" style="display:none;">
            @Html.DisplayNameFor(model => model.EditorID)
        </th>
        <th></th>
    </tr>
<script>
    var elems_for_letters = document.querySelectorAll('.reg');
    for (var i = 0; i < elems_for_letters.length; i++) {
        elems_for_letters[i].innerHTML = elems_for_letters[i].innerHTML.replace(/([a-z])([A-Z])/g, '$1 $2');
    }
    elems_for_letters = document.querySelectorAll('.checkbox');
    for (var i = 0; i < elems_for_letters.length; i++) {
        elems_for_letters[i].innerHTML = elems_for_letters[i].innerHTML.replace(/([a-z])([A-Z])/g, '$1 $2');
    }
</script>
@foreach (var item in Model) {
    <tr>
        <td class="left-ear-filter">
            @Html.DisplayFor(modelItem => item.LeftEar)
        </td>
        <td class="right-ear-filter">
            @Html.DisplayFor(modelItem => item.RightEar)
        </td>
        <td class="diagnosis-filter">
            @Html.DisplayFor(modelItem => item.Diagnosis)
        </td>
        <td class="gender-filter">
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td class="nuisance-filter">
            @Html.DisplayFor(modelItem => item.Nuisance)
        </td>
        <td class="age-filter">
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td class="percentage-hearing-loss-filter">
            @Html.DisplayFor(modelItem => item.PercentageHearingLoss)
        </td>
        <td class="is-musician-filter">
            @Html.DisplayFor(modelItem => item.IsMusician)
        </td>
        <td class="instrument-filter">
            @Html.DisplayFor(modelItem => item.Instrument )
            @Html.DisplayFor(modelItem => item.Instrument.ID)
            @Html.DisplayFor(modelItem => item.Instrument.Name)
        </td>
        <td class="patient-id-filter" style="display:none;">
            @Html.DisplayFor(modelItem => item.PatientID)
        </td>
        <td class="editor-id-filter" style="display:none;">
            @Html.DisplayFor(modelItem => item.EditorID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID })
            @Html.ActionLink("Details", "Details", new { id=item.ID })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table></div></div>

<style>
	tr > td:nth-child(1) > div:nth-child(1),
	tr > td:nth-child(2) > div:nth-child(1){
		display: none;
	}
</style>