@model IEnumerable<SerwisAudiometryczny.Models.AudiogramModel>


@{ 
	ViewBag.Title = "Search";
}

<h2>Search</h2>


@using (Html.BeginForm())
{
	<div class="form-group">
		<label class="col-md-3" for="PatientName">PatientName</label>
		<input class="form-control" type="text" name="PatientName" id="PatientName" />
	</div>
	<div class="form-group">
		<label class="col-md-3" for="Diagnosis">Diagnosis</label>
		<input class="form-control" type="text" name="Diagnosis" id="Diagnosis" />
	</div>
	<div class="form-group">
		<label class="col-md-3" for="Gender">Gender</label>
		<select class="form-control" id="Gender" name="Gender">
            <option value=""></option>
            <option value="0">Male</option>
			<option value="1">Female</option>
		</select>
	</div>
	<div class="form-group">
		<label class="col-md-3" for="ageFrom">ageFrom</label>
		<input class="form-control" type="number" name="ageFrom" id="ageFrom" />
	</div>
	<div class="form-group">
		<label class="col-md-3" for="ageTo">ageTo</label>
		<input class="form-control" type="number" name="ageTo" id="ageTo" />
	</div>
	<div class="form-group">
		<label class="col-md-3" for="PercentageHearingLossFrom">PercentageHearingLossFrom</label>
		<input class="form-control" type="number" name="PercentageHearingLossFrom" id="PercentageHearingLossFrom" />
	</div>
	<div class="form-group">
		<label class="col-md-3" for="PercentageHearingLossTo">PercentageHearingLossTo</label>
		<input class="form-control" type="number" name="PercentageHearingLossTo" id="PercentageHearingLossTo" />
	</div>
	<div class="form-group">
		<label class="col-md-3" for="isMusican">isMusican</label>
		<input class="form-control left" type="checkbox" name="isMusican" id="isMusican" />
	</div>
	<div class="form-group">
		<label class="col-md-3" for="Patient">Patient</label>
		<input class="form-control" type="number" name="Patient" id="Patient" />
	</div>
	<div class="form-group">
		<label class="col-md-3" for="Editor">Editor</label>
		<input class="form-control" type="number" name="Editor" id="Editor" />
	</div>
	<div class="span2 offset2">
		<button type="submit" class="btn btn-default col-md-offset-3">Search</button>
	</div>
	
	if(Model != null)
	{
		<table>
			<tr>
				<th>
					@Html.DisplayNameFor(x => x.LeftEar)
				</th>
				
				<th>
					@Html.DisplayNameFor(x => x.RightEar)
				</th>

				<th>
					@Html.DisplayNameFor(x => x.Diagnosis)
				</th>

				<th>
					@Html.DisplayNameFor(x => x.Gender)
				</th>

				<th>
					@Html.DisplayNameFor(x => x.Nuisance)
				</th>

				<th>
					@Html.DisplayNameFor(x => x.Age)
				</th>

				<th>
					@Html.DisplayNameFor(x => x.PercentageHearingLoss)
				</th>

				<th>
					@Html.DisplayNameFor(x => x.IsMusician)
				</th>

				<th>
					@Html.DisplayNameFor(x => x.Instrument)
				</th>

				<th>
					@Html.DisplayNameFor(x => x.PatientID)
				</th>

				<th>
					@Html.DisplayNameFor(x => x.EditorID)
				</th>
			</tr>
			@foreach (var x in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => x.LeftEar )
					</td>
					<td>
						@Html.DisplayFor(modelItem => x.RightEar )
					</td>
					<td>
						@Html.DisplayFor(modelItem => x.Diagnosis)
					</td>
					<td>
						@Html.DisplayFor(modelItem => x.Gender)
					</td>
					<td>
						@Html.DisplayFor(modelItem => x.Nuisance)
					</td>
					<td>
						@Html.DisplayFor(modelItem => x.Age)
					</td>
					<td>
						@Html.DisplayFor(modelItem => x.PercentageHearingLoss)
					</td>
					<td>
						@Html.DisplayFor(modelItem => x.IsMusician)
					</td>
					<td>
						@Html.DisplayFor(modelItem => x.Instrument)
					</td>
					<td>
						@Html.DisplayFor(modelItem => x.PatientID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => x.EditorID)
					</td>
				</tr>
			}
		</table>
	}
}

<div>
	@Html.ActionLink("Back to list", "Index")
</div>

<style type="text/css">
	.left{
		width: 20px !important;
	}
	tr > td:nth-child(1) > div:nth-child(1),
	tr > td:nth-child(2) > div:nth-child(1){
		display: none;
	}
</style>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}