@model IEnumerable<SerwisAudiometryczny.Models.LogModel>


@{
    ViewBag.Title = "Szukaj";
}

<h2>Wyszukiwarka logów</h2>

<div class="text-large">
@using (Html.BeginForm())
{
    <div class="span2">Id użytkownika </div>
    <div class="span2">@Html.TextBox("UserId")</div>
    <div class="span2">Kontroler </div>
    <div class="span2">@Html.TextBox("Controller")</div>
    <div class="span2">Akcja </div>
    <div class="span2">@Html.TextBox("Action")</div>
    <label for="search">Czas od</label>
    <input type="datetime-local" name="FromTime" id="FromTime" />
    <label for="search">Czas do</label>
    <input type="datetime-local" name="ToTime" id="ToTime" />
    <div class="span2 offset2"><button class="btn" type="submit">Szukaj</button></div>

    if (Model != null)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Controller)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Action)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Controller)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Action)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                </tr>
            }
        </table>
    }

    @*<form method="get" action="@Url.Action("Search", "LogController")">
            <label for="search">Kontroler</label>
            <input type="text" name="Controller" id="Controller" />
            <button type="submit">Szukaj</button>
        </form>*@
}

@*@if (ViewBag != null)
    {
        foreach (var room in ViewBag.Rooms as List<Room>)
        {
            // Build your room list markup here
        }
    }*@

    @Html.ActionLink("Powrót do listy", "Index") <br/><br/>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}