@model IEnumerable<SerwisAudiometryczny.Models.InstrumentModel>

@{
    ViewBag.Title = "Instrumenty";
}

<h2>Instrumenty</h2>

<p>
    @Html.ActionLink("Stwórz nowy", "Create", routeValues: null, htmlAttributes: new { Class = "btn btn-info" })
</p>
<table class="table i-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
